<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            
        }
        .menu{
            text-align: center;
            display: flex;
            position: fixed;
            flex-direction: column;
            top: 0;
            background-color:black;
            height:90px;
            width:100%;
            color:white;
        }
        ul li{
            text-decoration: none;
            /* display: flex; */
            float: left;
            list-style: none;
            padding:20px;
            align-items: center;
        }
        a{
            list-style: none;
            text-decoration: none;
            color:white;
            /* text-decoration: ; */
        }
    </style>
</head>
<body>
<div class="menu">
   <ul>
    <h3><li> <a href="/">Home </a></li></h3>
    <h3><li> <a href="/contact">contact </a></li></h3>
    <h3><li> <a href="">Portfolio</a></li></h3>
    <h3><li> <a href="">Sign In</a></li></h3>
    <h3><li> <a href="">Log in</a></li></h3>

    
    
   </ul> 
</div>
</body>
</html>