<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(83, 159, 159);
            text-align: center;
           
        }
        hr{
            width:600px; 
        }
        .container{
            margin-top: 60px;;
        }
    </style>
</head>
<body>
    <div>
    <%- include('./partials/nav.ejs') %>

    <br>
    <br>
</div>
<div class="container">
    <h1>
        WELCOME TO THE MOST AWESOME WEBSITE
        <hr>
    </h1>
    <P>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, odio!
    </P>
</div>
</body>
</html>